<div class="modal" *ngIf="!!educ">
    <div class="modal_content">
      <div class="modal_header">
          <div class="modal_header_titulo"></div>
          <h4>hola</h4>
            <button class="but" routerLink="" >x</button>
      </div>
        <form (ngSubmit)="editEducacion()" novalidate #f="ngForm">
            <div class="form-Group">
                <label for="descripEdu">Nombre</label>
                <input type="text" class="formControl" id="nombreEdu" name="nombreEdu" [(ngModel)]="educ.nombreEdu" required="">
              </div>
            <div class="form-Group">
                <label for="carreraEdu">Carrera</label>
                <input type="text" class="formControl" id="carreraEdu" name="carreraEdu" [(ngModel)]="educ.carreraEdu" required="">
          </div>
          <div class="form-Group">
                <label for="descripEdu">Descripción</label>
                <input type="text" class="formControl" id="descripEdu" name="descripEdu" [(ngModel)]="educ.descripEdu" required="">
          </div>
          <button type="submit" class="buto">Agregar cambios</button>
        </form>
      </div>
    </div>
