.educa {
  background-color: #0586d8;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100wh;
  position: relative;
}

.boton {
  position: absolute;
  right: 50px;
  top: 40px;
  border: 2px solid transparent;
  background-color: #fff;
  border-radius: 50%;
  height: 45px;
}

.boton button {
  font-size: 20px;
  color: #0586d8;
}

.boton:hover {
  background-color: rgb(220, 220, 220);
}

.educación-cards {
  display: flex;
  flex-direction: column;
}

.educación-flex {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.educación-imag img {
  width: 100px;
  float: left;
  margin-right: 25px;
}

.educa h1 {
  font-size: 50px;
  color: white;
  margin-top: 100px;
}

.educa li {
  list-style: none;
  text-align: left;
  color: white;
  margin: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.botones{
    width: 10px;
    position: absolute;
    right: 15%;
}

.btnE {
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 30px;
}

.btnB {
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ff0000;
}
