.educa{
    background-color:#0586d8;
    display: flex;
    justify-content:space-evenly;
    height: 100vh;
    position: relative;
}

.boton{
    position: absolute;
    right: 50px;
    top: 40px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    height: 45px;
}

.boton button{
    font-weight: bold;
    color: #0586d8;
}

.boton:hover{
    background-color:rgb(220, 220, 220);
    border: 2px solid rgb(220, 220, 220);
}


.educación-cards{
    display: flex;
    flex-direction: column;
}

.educación-flex{
    display: flex;
    flex-direction: column;
}

.educación-imag img{
    width: 100px;
    float: left;
    margin-right: 25px;
}

.educa h1{
    font-size: 50px;
    color: white;
    margin-top: 100px;
}

.educa li{
    list-style: none;
    text-align: left;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}