<div class="educa">
    <h1>Educación</h1>
    <div class="educación-cards" style="align-self:center;">
        <ul *ngFor="let estudio of educacionList">
            <li>
                <div class="educación-imag">
                    <img [src]=estudio.imagen/>
                </div>
                <div class="educación-flex">
                     Nombre: {{estudio.establecimiento}}
                <div>Carrera: {{estudio.carrera}}</div>
                <div>Periodo: {{estudio.periodo}}</div>
                <div>Descripción: {{estudio.desEstab}}</div>  
                </div>    
            </li>
        </ul>
    </div>
</div>
