<div class="educa">
    <h1>Educación</h1>
    <div class="educación-cards" style="align-self:center;">
        <ul *ngFor="let estudio of educacion">
            <li>
                <div class="educación-imag">
                    <img/>
                </div>
                <div class="educación-flex">
                     Nombre: {{estudio.nombreEdu}}
                <div>Carrera: {{estudio.carreraEdu}}</div>
                <div>Periodo: </div>
                <div>Descripción: {{estudio.descripEdu}} </div>  
                </div>    
            </li>
        </ul>
    </div>
</div>
