.foto{
    background-image: url(src/assets/images/perro1.jpg);
    background-size: cover ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 108%;
    left: 50px;
}

