<div class="nav">
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1666227203/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="">

    <div class="social">
        <div class="social_cont">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram icon"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook icon"></i></a>
            <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github icon"></i></a>
        </div>
        <button class="btn">Iniciar Sesion</button>
    </div>
</div>




