.nav{
    width: 100vw;
    height: 110px;
    background-color: #0586d8;
}

.enlaces a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
    border-right: 2px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.enlaces a:last-child {
    border-right:none;
}

.enlaces a:hover{
    color: rgb(209, 207, 207);
    transition: 1s;
}

.btn{
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.social_cont{
    margin-right: 15px;
}

.social a{
    margin: 10px;
}

.icon{
    font-size: 35px;
    color: white;
}

.icon:hover{
    color: rgb(202, 200, 200);
    transition: .4s;
}


