<div class="modal">
    <div class="modal_content">
      <div class="modal_header">
        <div class="modal_header_titulo"></div>
        <h2>Agregar Experiencia</h2>
        <button class="but" routerLink="">x</button>
      </div>
      <div class="contenido">
        <form (ngSubmit)="crear()" novalidate #f="ngForm">
          <div class="form-Group">
            <label for="empleoExp">Nombre de la Empresa</label>
            <input
              type="text"
              class="formControl"
              id="empleoExp"
              name="empleoExp"
              [(ngModel)]="empleoExp"
              required=""/>
          </div>
          <div class="form_Group">
            <label for="puestoExp">Puesto</label>
            <input
              type="text"
              class="formControl"
              id="puestoExp"
              name="puestoExp"
              [(ngModel)]="puestoExp"
              required=""/>
          </div>
          <div class="form_Group">
            <label for="descripExp">Descripción</label>
            <input
              type="text"
              class="formControl"
              id="descripExp"
              name="descripExp"
              [(ngModel)]="descripExp"
              required=""/>
          </div>
          <button type="submit" class="buto">Agregar cambios</button>
        </form>
      </div>
    </div>
  </div>
