<div class="xprnc" id="experiencia">
  <h1>Experiencia</h1>
  <div class="boton" *ngIf="authService.isLoggedIn">
    <button type="button" class="btn" routerLink="experiencia">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="xprnc-cards" style="align-self: center">
    <ul *ngFor="let trabajos of experiencia">
      <li>
        <div class="imag">
          <img [src]="trabajos.imgExp" alt="imagen educaciones" />
        </div>
        <div class="xprnc-flex">
          Nombre de la Empresa: {{ trabajos.empleoExp }}
          <div>Puesto: {{ trabajos.puestoExp }}</div>
          <div>Periodo inicio:{{ trabajos.periodo_unoExp }}</div>
          <div>Periodo fin:{{ trabajos.periodo_dosExp }}</div>
          <div>Descripción: {{ trabajos.descripExp }}</div>
          <div class="botones" *ngIf="authService.isLoggedIn">
            <button class="btnE" [routerLink]="['./editExpe', trabajos.idExp]">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btnB" (click)="borrarExp(trabajos.idExp)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
