<div class="xprnc">
    <h1>Experiencia</h1>
    <div class="xprnc-cards" style="align-self:center;">
        <ul *ngFor="let trabajos of experienciaList">
            <li>
                <div class="imag">
                    <img [src]=trabajos.imagen/>
                </div>
                <div class="xprnc-flex">
                     Empleo: {{trabajos.empleo}}
                <div>Puesto: {{trabajos.puesto}}</div>
                <div>Periodo: {{trabajos.periodo}}</div>
                <div>Descripción: {{trabajos.desTrab}}</div>  
                </div>    
            </li>
        </ul>
    </div>
</div>