<div class="xprnc">
  <h1>Experiencia</h1>
  <div class="boton">
    <button type="button" class="btn" routerLink="experiencia">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="xprnc-cards" style="align-self: center">
    <ul *ngFor="let trabajos of experiencia">
      <li>
        <div class="imag">
          <img />
        </div>
        <div class="xprnc-flex">
          Nombre de la Empresa: {{ trabajos.empleoExp }}
          <div>Puesto: {{ trabajos.puestoExp }}</div>
          <div>Periodo:</div>
          <div>Descripción: {{ trabajos.descripExp }}</div>
          <div class="botones">
            <button
              class="btnE"
              [routerLink]="['./editExpe', trabajos.idExp]"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btnB" (click)="borrarExp(trabajos.idExp)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
