<div *ngIf="show">
<div class="modal">
    <div class="modal_content">
      <div class="modal_header">
          <div class="modal_header_titulo"></div>
          <h4>hola</h4>
            <button (click)="ocultarModal()">Cerrar</button>
      </div>
      <div class="contenido">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-Group">
            <label for="nombreUsu">Nombre</label>
            <input type="text" class="form-control" id="nombreUsu" name="nombreUsu" [(ngModel)]="nombreUsu" required>
          </div>
          <div class="form-Group">
            <label for="oficioUsu">Oficio</label>
            <input type="text" class="form-control" id="oficioUsu" name="oficioUsu" [(ngModel)]="oficioUsu" required>
          </div>
          <div class="form-Group">
            <label for="descripUsu">Descripción</label>
            <input type="text" class="form-control" id="descripUsu" name="descripUsu" [(ngModel)]="descripUsu" required>
          </div>
          <button class="buto">Agregar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>

