<div *ngIf="show">
<div class="modal">
    <div class="modal_content">
      <div class="modal_header">
          <div class="modal_header_titulo"></div>
          <h4>hola</h4>
            <button (click)="ocultarModal()">Cerrar</button>
      </div>
      <div class="contenido">
        <h5>contenido</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta eius nisi minus, facere a incidunt blanditiis aut tempora consectetur?</p>
      </div>
    </div>
  </div>
</div>

