<div class="proyecto-container" id="proyectos">
  <h1>Proyectos</h1>
  <div class="boton" *ngIf="authService.isLoggedIn">
    <button type="button" class="btn" routerLink="proyecto">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="list-container">
    <div class="proyecto-list">
      <ul *ngFor="let proyectos of proyecto">
        <li>
          <div class="pro-container">
            <div>
              Nombre: {{ proyectos.nombrePro }}
              <div>Fecha:</div>
              <div>Descripción: {{ proyectos.descripPro }}</div>
              <button class="btns"><a href="#">Enlace aquí</a></button>
            </div>
            <div class="botones" *ngIf="authService.isLoggedIn">
              <button
                class="btnE"
                [routerLink]="['./editPro', proyectos.idPro]">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btnB" (click)="borrarPro(proyectos.idPro)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
