<div class="proyecto-container">
    <h1>Proyectos</h1>    
    <div class="list-container">
        <div class="proyecto-list">
            <ul *ngFor="let proyectos of proyecto">
                <li>
                    Nombre: {{proyectos.nombrePro}}
                    <div>Fecha:</div>
                    <div>Descripción: {{proyectos.descripPro}}</div>
                    <button class="btns"><a href="#">Enlace aquí</a></button>     
                </li>
            </ul>
        </div>
    </div>
</div>
