.proyecto-container{
    background-color:#0586d8;
    display: flex;
    justify-content:space-evenly;
    height: 100vh;
    width: 100wh;
    position: relative;
}

.boton {
    position: absolute;
    right: 50px;
    top: 40px;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 50%;
    height: 45px;
  }
  
  .boton button {
    font-size: 20px;
    color: #0586d8;
  }
  
  .boton:hover {
    background-color: rgb(220, 220, 220);
  }
  
.list-container{
    display: flex;
    align-items: center;
}

.proyecto-list{
    display: flex;
    flex-direction: column;
}

.proyecto-container h1{
    font-size: 50px;
    color: white;
    margin-top: 100px;
}

.pro-container{
  display: flex;
}

.proyecto-list li{
    list-style: none;
    text-align: left;
    color: white;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btns{
    margin: 15px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color:whitesmoke;
    transition: .4s;
    cursor: pointer;
}

.btns:hover{
    transform: scale(1.2);
}

.btns a{
    color:#0586d8;
    font-weight: bold;
    text-decoration: none;
}

.botones{
    width: 10px;
    position: absolute;
    right: 15%;
}
