<ng-container *ngIf="show">
    <div class="loginc">
        <div class="loginc-content">
            <div class="loginc-header">
                <h4 class="loginc-title">
                    Login
                </h4>
                <div class="icon" (click)="show = false">
                    <button>X</button>
                </div>
            </div>
            <div class="loginc-container">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</ng-container>
