.ackd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
}

.ackd-texto{
    width: 70vw;
    text-align: center;
    margin: auto;
}

.ackd-info{
    width: 30vw;
    text-align: center;
}