.ackd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #036fba;
    width: 100vw;
    height: 400px;
    position: relative;
    
}

.ackd-foto{
    background-image: url(src/assets/images/perro1.jpg);
    background-size: cover ;
    width: 300px;
    height: 300px;
    border: 4px solid white;
    border-radius: 100%;
    position: absolute;
    left: 4%;
    top: -40%;
}

.ackd-info{
    color: #fff;
    font-size: 20px;
    width: 30%;
    text-align: center;
    
}
.ackd-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.ackd-titulo{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}

.ackd-texto{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin-right: 10px;
}

.ackd-texto p{
    margin-right: 15px;
    padding: 10px;
}

