<div class="ackd">
    
    <div class="ackd-foto"></div>
    
     <div class="ackd-info">
        <h3>Maximiliano Damián Salerno</h3>
        <br>
        <h3>Full Stack Developer jr</h3>
    </div>
    
    <div class="ackd-container">
        <div class="ackd-titulo">
            <h1>Acerca de mi</h1>
        </div>
        
        <div class="ackd-texto">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, consectetur libero sed illo voluptas voluptatibus adipisci est ratione excepturi incidunt sint amet atque impedit totam sit reiciendis minus corrupti vero quas. Sed aliquid cum, illo a sit accusamus doloremque quia amet commodi quisquam obcaecati iste tempora est quis cumque totam deleniti veniam. Sequi unde ea laboriosam natus facere, rerum esse sit dolores et quae fuga hic adipisci excepturi porro recusandae! Quas obcaecati, nulla explicabo cumque fugit praesentium dolores perspiciatis, aperiam exercitationem ratione possimus architecto consequatur nihil? Corrupti, fugiat molestias nulla repellendus officia libero omnis, minus repudiandae eum mollitia sint animi!</p>
        </div>
    </div>
</div>
