.habilidades{
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.habilidades h1{
    color: #0586d8;
    font-size: 50px;
    text-align: center;
    width: 30vw;
    margin-top: 100px;
}

.habi-container{
    width: 70vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.habi-card{
    background-color: rgb(248, 248, 248);
    height: 250px;
    width: 200px;
    padding: 23px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px 4px rgba(235, 232, 232, 0.753);
}

.habi-card:hover{
    transform: scale(1.1);
    transition: .3s;
    box-shadow: none;
    border: 1px solid rgb(223, 220, 220);
}

.habi-card h2{
    text-align: center;
    padding: 15px;
    color:#0586d8;
}

.circle-bar{
    --percentage: var(--value);
    animation: progress 2s 0.5s forwards;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.circle-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(#0586d8 calc(var(--percentage) * 1%), white 0);
    mask: radial-gradient(white 25%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}

.circle-bar::after{
    counter-reset: porcentaje var(--value);
    content: counter(porcentaje) '%';
    font-size: 3rem;
}

@keyframes progress{
    0% {--percentage: 0;}
    100% { --percentage: var(--value);}
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}