<div class="habilidades">
    <h1>Habilidades</h1>
    
    <div class="habi-container">
        
        <div class="habi-card">
            <div class="circle-bar" style="--value: 70"></div>
            <h2>HTML</h2>
        </div>  

        <div class="habi-card">
            <div class="circle-bar" style="--value: 70"></div>
            <h2>CSS</h2>
        </div>  
        
        <div class="habi-card">
            <div class="circle-bar" style="--value: 30"></div>
            <h2>Javascript</h2>
        </div>  

        <div class="habi-card">
            <div class="circle-bar" style="--value: 30"></div>
            <h2>Angular</h2>
        </div>  

        <div class="habi-card">
            <div class="circle-bar" style="--value: 30"></div>
            <h2>JAVA</h2>
        </div>  

        <div class="habi-card">
            <div class="circle-bar" style="--value: 50"></div>
            <h2>Bootstrap</h2>
        </div>  
    </div>
</div>
